.about-section {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    background: linear-gradient(to bottom, #000000 0%, rgba(00, 00, 00, .9) 75%, rgba(00, 00, 00, 0.8) 100%);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.about-section p {
    margin-bottom:5rem;
    font-size: 1.15rem;
}

.about-intro    {
    display: inline-block;
    width: 90%;
    vertical-align:top;
    margin: auto;
}

.about-intro .name {
    font-size: 2rem;
}

.about-intro p  {
    font-family: serif;
}

.about-section .headshot {
    float: right;
    border-radius: 50%;
    margin-top: -4%;
    margin-left: 4%;
    margin-bottom: 1%;
    height: auto;
    width: 390px; 
}

@media (max-width: 942px)  {
    .about-section .headshot {
        width: 350px;
        margin-left: 2%;
    }
}

@media (max-width: 750px)  {
    .about-section .headshot {
        float: none;
        margin-bottom: 5%;
        width: 300px;
        border-radius: 5%;
        margin-left: 0px;
        margin-top: -0.4rem;
    }
}

@media (max-width: 450px)  {
    .about-section .headshot {
        width: 70%;
    }

    .about-intro .name {
        font-size: 1.3rem;
    }

    .about-intro p{
        font-size: 0.9rem;
    }

}