.experience-section {
    padding-top: 4.5%;
    background: url("../img/experience.png");
    background-color: rgba(17, 17, 17, 0.582);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 5%;
}

.college {
    background-image: url("../img/university.png");
}

.course {
    background-image: url("../img/course.png");
}

.connect {
    background-image: url("../img/networking.png");
}

.experience-section .each {
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,.75);
}

 .img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    /* top: -3px; */
    margin-top: auto;
    margin-bottom: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.ex-heads {
    width: 45%;
    min-width: 200px;
}

.experience-section .ex-para {
    width: 55%;
    min-width: 350px;
}

.experience-section .ex-heads .head_p {
    font-size: 1.25rem;
}

.experience-section .ex-para    {
    width: auto;
}

.experience-section .ex-para .head_p    {
    font-size: 1.25rem;
}

.experience-section .ex-para .para-p    {
    font-size: 1rem;
}

@media (max-width: 1100px) {
    .ex-head {
        font-size: 1.15rem;
    }

    .img {
        width: 33px;
        height: 33px;
        margin-right: 12px;
    }

    .experience-section .ex-heads .head_p {
        font-size: 1.05rem;
    }

    .experience-section .ex-para .head_p    {
        font-size: 1.05rem;
    }

    .experience-section .ex-para .para-p    {
        font-size: 0.95rem;
    }
}

@media (max-width: 1000px)  {
    .ex-head {
        font-size: 1.05rem;
    }

    .img {
        width: 29px;
        height: 29px;
        margin-right: 7px;
    }

    .experience-section .ex-heads .head_p {
        margin-bottom: 0.5rem;
        font-size: 0.925rem;
    }

    .experience-section .ex-para .head_p    {
        font-size: 0.925rem;
    }

    .experience-section .ex-para .para-p    {
        font-size: 0.9rem;
    }
}

@media (max-width: 780px) {
    .ex-head {
        font-size: 0.955rem;
    }

    .ex-heads {
        width: 100%;
        min-width: 0px !important;
    }

    .ex-para {
        width: 100%;
        min-width: 0px !important;
    }

    .img {
        width: 28px;
        height: 28px;
        margin-right: 5px;
    }

    .experience-section .ex-heads .head_p {
        margin-bottom: 0.5rem;
        font-size: 0.835rem;
    }

    .experience-section .ex-para .head_p    {
        font-size: 0.835rem;
    }

    .experience-section .ex-para .para-p    {
        font-size: 0.85rem;
    }
}

@media (max-width: 550px) {
    .ex-head {
        font-size: 0.845rem;
    }

    .ex-heads {
        width: 100%;
        min-width: 0px !important;
    }

    .ex-para {
        width: 100%;
        min-width: 0px !important;
    }

    .img {
        width: 26px;
        height: 26px;
        margin-right: 3px;
    }

    .experience-section .ex-heads .head_p {
        margin-bottom: 0.5rem;
        font-size: 0.795rem;
    }

    .experience-section .ex-para .head_p    {
        font-size: 0.795rem;
    }

    .experience-section .ex-para .para-p    {
        font-size: 0.75rem;
    }
}

@media (max-width: 440px)   {
    .ex-head {
        font-size: 0.735rem;
    }

    .ex-heads {
        width: 100%;
        min-width: 0px !important;
    }

    .ex-para {
        width: 100%;
        min-width: 0px !important;
    }
}

@media (max-width: 350px){
    .ex-head {
        font-size: 0.675rem;
    }

    .ex-heads {
        width: 100%;
        min-width: 0px !important;
    }

    .ex-para {
        width: 100%;
        min-width: 0px !important;
    }

    .img {
        width: 18px;
        height: 18px;
        margin-right: 2px;
    }

    .experience-section .ex-heads .head_p {
        margin-bottom: 0.5rem;
        font-size: 0.705rem;
    }

    .experience-section .ex-para .head_p    {
        font-size: 0.715rem;
    }

    .experience-section .ex-para .para-p    {
        font-size: 0.7rem;
    }
}