.skill-section {
    padding-top: 6rem;
    background-image:  linear-gradient(to bottom,#000000 0%, rgba(22, 22, 22, .9) 75%, rgba(17, 17, 17, 0.8) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;
    padding-bottom: 5rem;
    /* display: none; */
}

.skills {
    padding: 0%;
    margin: 0%;
}