.skill-section {
    padding-top: 4.5%;
    background: url("../img/skills_section.png");
    background-color: rgba(17, 17, 17, 0.7);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3%;
    /* height: 95vh;
    min-height: 500px; */
}

.skill-section .name    {
    font-size: 2rem;
}

.wrapper    {
    padding-top: 1rem;
    width: 90%;
    margin: auto;
    display: inline-block;
    font-family: Gotham,Helvetica,Arial,sans-serif;
}

.skill-section .img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.code {
    background-image: url("../img/coding.png");
}

.math {
    background-image: url("../img/formula.png");
}

.skill {
    background-image: url("../img/skills_icon.png");
}

.tech {
    background-image: url("../img/dashboard.png");
}

.skill-section .para    {
    font-family: 'Sura', serif !important;
    font-size: 1rem;
}

.idea {
    background-image: url("../img/thought.png");
}

.skill-section i {
    height: 50px;
    width: 50px;
    font-size: 50px;
    margin-left: 0.6rem;
    margin-top: -0.8rem;
    margin-right: 0.6rem;
    color: rgba(255, 255, 255, 0.3);
}

.java, .cplusplus, .python, .mysql, .android, .html, .css, .javascript, .bootstrap, .git {
    transition: color .3s ease-out;
}

.java:hover {
    color: rgb(216, 65, 57);
    transition: color .3s ease-in;
}

.cplusplus:hover {
    color: rgb(143, 29, 59);
    transition: color .3s ease-in;
}

.python:hover {
    color: rgb(249, 216, 98);
    transition: color .3s ease-in;
}

.mysql:hover {
    color: rgb(38, 96, 134);
    transition:color .3s ease-in;
}

.android:hover {
    color: rgb(171, 194, 82);
    transition: color .3s ease-in;
}

.html:hover {
    color: rgb(212, 87, 54);
    transition: color .3s ease-in;
}

.css:hover {
    color: rgb(43, 94, 146);
    transition: color .3s ease-in;
}

.javascript:hover {
    color: rgb(237, 218, 104);
    transition: color.3s ease-in;
}

.bootstrap:hover {
    color: rgb(57, 45, 83);
    transition: color .3s ease-in;
}

.git:hover {
    color: white;
    transition: color .3s ease-in;
}

.do_center::before{
  content:"";
  margin-left:calc(100% - 87%);
} 

.line-center {
    margin-left: 7rem;
}